*.bak
*.egg-info
*.pyc
*.swp
*ZZZ
.committed
.coverage
.dvczignore*
.git
.merkle
.posted
.sharedev
.svn*
.tmp
.tox
.wrapped
.xlattice
CVS
MANIFEST
README.jdd
THIS.IS.A.GIT*
__pycache__
build
cover
dev0
dev1
dev2
dev3
dev4
dist
htmlcov
junk*
myApp
myData
myU
ndxPages
sequences
tmp
uDir
